{% extends "layout.html" %}
{% block title %}
inheritance
{% endblock title %}
{% block body %}
<head>Yine yazı bekleriz </head><br>
    <a href="https://www.youtube.com/watch?v=geNUW1V5z_g&list=RDgeNUW1V5z_g&start_radio=1" target="_blank">click for sing</a>
    <pre>ah ne çok özledim seni
        bir bilsen bir görsen
        son baharlarım gelir 
        o yaprak hiç düşmez
    </pre>
    <p>Bir yalnız sen bir yalnız ben</p>
{% endblock body %}
{% block under %}
<p>Christopher Alopay for inheritance</p>>
{% endblock under %}