<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    Main Page
    {% endblock title %}
    
    </title>
</head>
<body>
    {% block body %}
    <head>Welcome to Main Page</head><br>
    <a href="https://www.youtube.com/watch?v=bC8EmPA6H6g&list=RDMMbC8EmPA6H6g&start_radio=1" target="_blank">click for Go to Splash</a>
    <pre>Beni boşver kendini al
        Al git uzak dur benden
        Seni seven birini bul
        Bul unut geçmişi lütfen
        Beni sevme sevme nolur
        Acın olur üzerim bak
        Beni unut bizi unut
        Unut geçmişi lütfen</pre>
    {% endblock body %}
    {% block under %}
     <p>Jessie Alopay</p>
    {% endblock under %}
    <p>25</p>
</body>
</html>