{% extends "layout.html" %}
{% block body %}
<h2>Articles</h2>
<hr>
{% if articles %}
<form action="/search" method="post">
    <input type="text" name="keyword" />
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<ul class="list-group">
{% for article in articles  %}
    <li class="list-group-item"><a href="/article/{{article.id}}" style="text-decoration: none;">{{article.title}}</a> </li>
{% endfor %}  
</ul>
{% else %}
<div class="alert alert-danger">There are no article to this blog yet</div>
{% endif %}

{% endblock body %}


