{% extends "layout.html" %}

{% block body %}
<div class="text-center">
    <h3>This is home page of YB Blog</h3>
    <pre>
        Ayo, I'm tired of using technology
        Why don't you sit down on top of me?
        Ayo, I'm tired of using technology
        I need you right in front of me</pre>
</div>
{% if answer=="yes" %}
<p class="text-center">Answer is YES</p>
{% elif answer=="no" %}
<p class="text-center">Answer is NO</p>
{% else %}
<p class="text-center">Answer is not yes or no</p>
{% endif %} 
<ul class="text-center"> 
{% for num in numbers %}

<li >{{num}}</li>

{% endfor %}
</ul>
<ul class="text-center"> 
{% for dict in dictList %}

<li>id: {{dict.id}} title: {{dict.title}} content: {{dict.content}}</li>

{% endfor %}
</ul>

{% endblock body %}
